<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../resources/favicon/favicon.ico">
    <title>MonsterWiki</title>

    <link rel="stylesheet" href="../stylesheets/base.css">
    <link rel="stylesheet" href="../stylesheets/header.css">
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link rel="stylesheet" href="../stylesheets/about.css">
    <link rel="stylesheet" href="../stylesheets/footer.css">


    <script src="../scripts/headerScript.js" defer></script>
</head>
<body>
    <header>
        <div id="nav">
            <div class="navItem" id="homeNav">
                <a href="index.html">Home</a>
            </div>
            <div class="navItem" id="monstersNav">
                <a href="monsters.html">Monsters</a>
            </div>
            <div class="navItem" id="aboutNav">
                <a href="about.html">About</a>
            </div>
        </div>
        <div id="headerTitle"><h1>MonsterWiki</h1></div>
        <img src="../resources/icon.png" alt="Icon">
    </header> 

    <main>

        <div id="aboutPage">
            <h1>About developer</h1>
            <div class="aboutTextDiv">
                <p>I'm an IT student at SPSE Jecna and I made this project
                    as a school assignment. I love the monster hunter games
                    , and with over 1000 hours of playtime amongst multiple titles
                    I've spent quite a bit of time on various Monster Hunter wikis,
                    and amazing as they are I always thought they looked a bit ugly,
                    so I decided to make a bit of modern look to them that I think
                    looks pretty decent in the time I had to make em.
                </p>
            </div>
        </div>

    </main>
    <footer id="footer">
        <div id="footerLinks">
            <a href="#top"><img src="../resources/up-arrow.png" alt=""></a>
            <a href="https://www.instagram.com/samec_kuta/"><img src="../resources/instagram.png" alt="insta"></a>
            <a href="https://github.com/dantolas/WA_MonsterWiki">

            <img src="../resources/github.png" alt="github">
            </a>
 


        </div>
        <div id="footerText">
            <div class="infoContainer">
                <img src="../resources/user.png" alt="personIcon">
                <p>©Kuta Samuel C3b</p>
            </div>
            <div class="infoContainer">
                <img src="../resources/mail.png" alt="personIcon">
                <p>kuta.samuel@gmail.com</p>
            </div>
            <div class="infoContainer">
                <img src="../resources/smartphone.png" alt="personIcon">
                <p>+420 123 456 789</p>
            </div>
        </div>
        <div id="footerLogo">
            <a href="index.html">
                <img src="../resources/icon.png">
            </a>
        </div>
    </footer>
</body>
</html>