<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../resources/favicon/favicon.ico">
    <title>MonsterWiki</title>

    <link rel="stylesheet" href="../stylesheets/base.css">
    <link rel="stylesheet" href="../stylesheets/header.css">
    <link rel="stylesheet" href="../stylesheets/home.css">


    <script src="../scripts/galleryScript.js" defer></script>
</head>
<body>
    <header>
        <div id="nav">
            <div class="navItem">
                <a href="backup.html">Home</a>
            </div>
            <div class="navItem">
                <a href="monsters.html">Monsters</a>
            </div>
            <div class="navItem">
                <a href="about.html">About</a>
            </div>
        </div>
        <div id="headerTitle"><h1>MonsterWiki</h1></div>
        <img src="../resources/icon.png" alt="Icon">
    </header> 

    <main>

        <div id="aboutPage">
            <h1>About developer</h1>
            <div class="aboutTextDiv">
                <p>I'm an IT student at SPSE Jecna and I made this project
                    as a school assignment. I love the monster hunter games
                    , and with over 1000 hours of playtime amongst multiple titles
                    I've spent quite a bit of time on various Monster Hunter wikis,
                    and amazing as they are I always thought they looked a bit ugly,
                    so I decided to make a bit of modern look to them that I think
                    looks pretty decent in the time I had to make em.
                </p>
            </div>
        </div>

    </main>
</body>
</html>