<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../resources/favicon/favicon.ico">
    <title>MonsterWiki</title>

    <link rel="stylesheet" href="../stylesheets/base.css">
    <link rel="stylesheet" href="../stylesheets/header.css">
    <link rel="stylesheet" href="../stylesheets/home.css">


    <script src="../scripts/galleryScript.js" defer></script>
</head>
<body>
    <header>
        <div id="nav">
            <div class="navItem">
                <a href="#">Home</a>
            </div>
            <div class="navItem">
                <a href="monsters.html">Monsters</a>
            </div>
            <div class="navItem">
                <a href="#">About</a>
            </div>
        </div>
        <div id="headerTitle"><h1>MonsterWiki</h1></div>
        <img src="../resources/icon.png" alt="Icon">
    </header> 

    <main>

        <div id="introDiv">
            <div id="homeImage">
                <img src="../resources/vaal_wallpaper.jpeg" alt="MonsterImage">
            </div>

            <div id="textCardsContainer">

                <div id="homeText">

                    <h1>Bestest Bestiary</h1>

                    <p>Welcome, on this wiki u can find all the fine details 
                    about monsters from Monster Hunter, including artwork and discussions.
                    you can navigate to the monsters page by clicking the 'Monsters' link 
                    in the navbar, or look at some popular pages here ---> 
                    </p>

                </div>

                <div id="popularMonsters">
                    <div id="popMonstersContainer">
                        <div class="card">
                            <div class="image">
                                <img src="../resources/icon.png" alt="cardImage">
                            </div>
                            <div class='cardText'><a href='#'>Great Jagras</a></div>
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="../resources/icon.png" alt="cardImage">
                            </div>
                            <div class='cardText'><a href='#'>Great Jagras</a></div>
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="../resources/icon.png" alt="cardImage">
                            </div>
                            <div class='cardText'><a href='#'>Great Jagras</a></div>
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="../resources/icon.png" alt="cardImage">
                            </div>
                            <div class='cardText'><a href='#'>Great Jagras</a></div>
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="../resources/icon.png" alt="cardImage">
                            </div>
                            <div class='cardText'><a href='#'>Great Jagras</a></div>
                        </div>
                    </div>

                </div>

            </div>
            <div id="GalleryTitle">
                <h1>| Gallery |</h1>
            </div>
        </div>


        <div class="popup">
            <div class="topBar">
                <p class="imageName">default-name</p>
                <span class="closePopupButton"></span>
            </div>
            <button class="popupArrow popupArrowLeft">
                <img src="../resources/leftArrow.png" alt="arrow">
            </button>
            <button class="popupArrow popupArrowRight">
                <img src="../resources/rightArrow.png" alt="arrow">
            </button>
            <img class="bigImage" src="../resources//art/Meowscular Chef 11x17 Print Monster Hunter - Etsy.jpeg" alt="img">
        </div>

        <div class="Gallery">
            <div id="imgContainer">
                <div class="imgCard">
                    <img src="../resources/art/dzM5A_uc.jpeg" alt="artwork">
                </div>
            </div>
            <div id="imgContainer">
                <div class="imgCard">
                    <img src="../resources/art/hunter, Nero Gen.jpeg" alt="artwork">
                </div>
            </div>
            <div id="imgContainer">
                <div class="imgCard">
                    <img src="../resources/art/Kulve Taroth MHW (duplo, talvez triplo, alterado).jpeg" alt="artwork">
                </div>
            </div>
            <div id="imgContainer">
                <div class="imgCard">
                    <img src="../resources/art/Meowscular Chef 11x17 Print Monster Hunter - Etsy.jpeg" alt="artwork">
                </div>
            </div>
            <div id="imgContainer">
                <div class="imgCard">
                    <img src="../resources/art/Monster Hunter World Mobile Wallpaper By D3Hell, Oberin OjM.jpeg" alt="artwork">
                </div>
            </div>
            <div id="imgContainer">
                <div class="imgCard">
                    <img src="../resources/art/Monster Hunter • r_MonsterHunter.png" alt="artwork">
                </div>
            </div>
            <div id="imgContainer">
                <div class="imgCard">
                    <img src="../resources/art/Their Protector (Female Monsters-Monster Hunter X Male Reader X RWBY).jpeg" alt="artwork">
                </div>
            </div>
        </div>

    </main>

    <footer>
        <div id="footerLinks">

        </div>
        <div id="footerText">

        </div>
    </footer>
</body>
</html>