<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../resources/favicon/favicon.ico">
    <title>MonsterWiki</title>

    <link rel="stylesheet" href="../stylesheets/base.css">
    <link rel="stylesheet" href="../stylesheets/header.css">
    <link rel="stylesheet" href="../stylesheets/home.css">
</head>
<body>
    <header>
        <div id="nav">
            <div class="navItem">
                <a href="#">Home</a>
            </div>
            <div class="navItem">
                <a href="#">Monsters</a>
            </div>
            <div class="navItem">
                <a href="#">About</a>
            </div>
        </div>
        <div id="headerTitle"><h1>MonsterWiki</h1></div>
        <img src="../resources/icon.png" alt="Icon">
    </header> 
