    <main>

        <div id="introDiv">
            <div id="homeImage">
                <img src="../resources/vaal_wallpaper.jpeg" alt="MonsterImage">
            </div>

            <div id="textCardsContainer">

                <div id="homeText">

                    <h1>Bestest Bestiary</h1>

                    <p>Welcome, on this wiki u can find all the fine details 
                    about monsters from Monster Hunter, including artwork and discussions.
                    you can navigate to the monsters page by clicking the 'Monsters' link 
                    in the navbar, or look at some popular pages here ---> 
                    </p>

                </div>

                <div id="popularMonsters">
                    <div id="popMonstersContainer">
                        <div class="card">
                            <div class="image">
                                <img src="../resources/icon.png" alt="cardImage">
                            </div>
                            <div class='cardText'><a href='#'>Great Jagras</a></div>
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="../resources/icon.png" alt="cardImage">
                            </div>
                            <div class='cardText'><a href='#'>Great Jagras</a></div>
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="../resources/icon.png" alt="cardImage">
                            </div>
                            <div class='cardText'><a href='#'>Great Jagras</a></div>
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="../resources/icon.png" alt="cardImage">
                            </div>
                            <div class='cardText'><a href='#'>Great Jagras</a></div>
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="../resources/icon.png" alt="cardImage">
                            </div>
                            <div class='cardText'><a href='#'>Great Jagras</a></div>
                        </div>
                    </div>

                </div>

            </div>
            <div id="GalleryTitle">
                <h1>| Gallery |</h1>
            </div>
        </div>

        <div class="Gallery">

        </div>

    </main>
