<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../resources/favicon/favicon.ico">
    <title>MonsterWiki</title>

    <link rel="stylesheet" href="../stylesheets/base.css">
    <link rel="stylesheet" href="../stylesheets/header.css">
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link rel="stylesheet" href="../stylesheets/monsters.css">

    <script src="../scripts/headerScript.js" defer></script>
    <script src="../scripts/monsters.js" defer></script>
</head>
<body>
    <header>
        <div id="nav">
            <div class="navItem" id="homeNav">
                <a href="index.html">Home</a>
            </div>
            <div class="navItem" id="monstersNav">
                <a href="monsters.html">Monsters</a>
            </div>
            <div class="navItem" id="aboutNav">
                <a href="about.html">About</a>
            </div>
        </div>
        <div id="headerTitle"><h1>MonsterWiki</h1></div>
        <img src="../resources/icon.png" alt="Icon">
    </header> 

    <main>
        <div id="monsterCards">
            <div class="monsterCardsSection">
                <h1>Monsters</h1>
                <hr>
                <div class="monsterCardsContainer">
                    <div class="monsterCard" >
                        <img class="monsterImage" src="../resources/monsters/cardDesigns/rathalos.jpeg" alt="cardImg">
                        <h2 class="monsterName">Rathalos</h2>
                        <a href="https://monsterhunter.fandom.com/wiki/Rathalos"></a>
                    </div>
                    <div class="monsterCard" >
                        <img class="monsterImage" src="../resources/monsters/cardDesigns/greatJagras.jpg" alt="cardImg">
                        <h2 class="monsterName">Great Jagras</h2>
                        <a href="https://monsterhunter.fandom.com/wiki/Great_Jagras?so=search"></a>
                    </div>
                    <div class="monsterCard" >
                        <img class="monsterImage" src="../resources/monsters/cardDesigns/deviljho.jpg" alt="cardImg">
                        <h2 class="monsterName">Deviljho</h2>
                        <a href="https://monsterhunter.fandom.com/wiki/Deviljho?so=search"></a>
                    </div>
                    <div class="monsterCard" >
                        <img class="monsterImage" src="../resources/monsters/cardDesigns/diablo.jpg" alt="cardImg">
                        <h2 class="monsterName">Diablos</h2>
                        <a href="https://monsterhunter.fandom.com/wiki/Diablos"></a>
                    </div>
                    <div class="monsterCard" >
                        <img class="monsterImage" src="../resources/nergiWallpaper.jpg" alt="cardImg">
                        <h2 class="monsterName">Nergigante</h2>
                        <a href="https://monsterhunter.fandom.com/wiki/Nergigante"></a>
                    </div>
                    <div class="monsterCard" >
                        <img class="monsterImage" src="../resources/nergiWallpaper.jpg" alt="cardImg">
                        <h2 class="monsterName">Nergigante</h2>
                        <a href="https://monsterhunter.fandom.com/wiki/Nergigante"></a>
                    </div>

                </div>
            </div>
        </div>
    </main>
</body>
</html>