header{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 245, 238);
    height: fit-content;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid rgb(240, 128, 0); 
}

header img{
    max-width: 40px;
    max-height: 40px;
    align-self: center;
    margin-right: 9px;
}

#nav{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#headerTitle{
    align-self: center;
    margin: 0 auto;
}

.navItem :hover{
    box-shadow: inset 0px -11px 0px 0px rgba(240, 128, 0, 0.92); 
}

.navItem{
    padding: 3px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navItem a{
    height: 50%;
    text-align: center;
    text-decoration: none;
    padding:5px;
}